@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700&display=swap');
*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: 400;

    line-height: 1.4;
    letter-spacing: 0em;
    vertical-align: middle;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

/* ----- VIDEOS ----- */
object,
embed,
video,
iframe,
iframe['style']{max-width: 100%; height: auto;}

/*----- PADROES -----*/
.clear{clear: both;}
.fontzero{font-size: 0em;}
img{max-width: 100%; border: 0;}
a img{border:0;}
a{text-decoration: none;}
hr{width: 20%; max-width:100px; border: 2px solid #d12121; margin: 0 auto; margin-top: 20px;}
.icon{vertical-align: middle;}
p strong{vertical-align: baseline; font-weight: 700;}

/* ----- tags Hs ----- */
h1{font-size: 1.5em;}
h2{font-size: 1.12em;}
h3{font-size: 0.875em;}
h4{font-size: 0.750em;}
h5{font-size: 0.625em;}
h6{font-size: 0.375em;}

/* ----- CONTAINERS E CONTENTS ----- */
.container{width: 100%; height: auto; margin:0 auto;}
.container-topo{width: 100%; height: 100%; margin:0 auto;}

.content-80-1024{display: block; margin: 0 auto; padding: 30px 0; width: 80%; max-width: 1024px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-80-1100{display: block; margin: 0 auto; padding: 30px 0; width: 80%; max-width: 1000px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-80-1200{display: block; margin: 0 auto; padding: 30px 0; width: 80%; max-width: 1200px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-80-1300{display: block; margin: 0 auto; padding: 30px 0; width: 80%; max-width: 1300px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-85-1024{display: block; margin: 0 auto; padding: 30px 0; width: 85%; max-width: 1024px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-85-1200{display: block; margin: 0 auto; padding: 30px 0; width: 85%; max-width: 1200px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-85-1300{display: block; margin: 0 auto; padding: 30px 0; width: 85%; max-width: 1300px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-90-500{display: block; margin: 0 auto; padding: 30px 0; width: 90%; max-width: 500px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-90-1024{display: block; margin: 0 auto; padding: 30px 0; width: 90%; max-width: 1024px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-90-1000{display: block; margin: 0 auto; padding: 30px 0; width: 90%; max-width: 1000; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-90-1200{display: block; margin: 0 auto; padding: 30px 0; width: 90%; max-width: 1200px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-90-1300{display: block; margin: 0 auto; padding: 30px 0; width: 90%; max-width: 1300px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-900{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 900px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-1024{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 1024px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-1000{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 1000px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-1100{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 1100px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-1200{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 1200px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}
.content-95-1300{display: block; margin: 0 auto; padding: 30px 0; width: 95%; max-width: 1300px; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;}

/* ----- BOXs ----- */
.box25{width: 25%; float: left; transition:all 0.5s ease;}
.box30{width: 30%; float: left; transition:all 0.5s ease;}
.box35{width: 35%; float: left; transition:all 0.5s ease;}
.box40{width: 40%; float: left; transition:all 0.5s ease;}
.box45{width: 45%; float: left; transition:all 0.5s ease;}
.box50{width: 50%; float: left; transition:all 0.5s ease;}
.box55{width: 55%; float: left; transition:all 0.5s ease;}
.box60{width: 60%; float: left; transition:all 0.5s ease;}
.box65{width: 65%; float: left; transition:all 0.5s ease;}
.box70{width: 70%; float: left; transition:all 0.5s ease;}
.box100{width: 100%; float: left; transition:all 0.5s ease;}

/* ----- BACKGROUND -----*/
.bg-blue{background: #197394;}
.bg-lightblue{background: #7ebbd0;}
.bg-darkblue{background: #173059;}
.bg-darkbluer-gba{background: rgba(17, 35, 65, 0.8); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.bg-brown{background: #4a2b13 !important;}
.bg-lightbrown{background:#a17500;}
.bg-lighgreen{background: #5bba8e;}
.bg-green{background: #199483;}
.bg-darkgreen{background: #001f14;}
.bg-lightgreen{background: #ccedcc;}
.bg-yellow{background: #ffc000;}
.bg-gray{background: #333;}
.bg-gray2{background: rgb(156,153,163); background: linear-gradient(160deg, rgba(156,153,163,1) 0%, rgba(128,128,128,1) 58%);}
.bg-lightgray{background: #eeeeee;}
.bg-white{background: #fff;}
.bg-red{background: #c13425;}
.bg-pink{background: #9e2f9a;}
.bg-lightpink{background: #faf2de;}
.bg-purple{background: #141059;}
.bg-purple-gradient{background-image: linear-gradient(#141059, #050427); }
.bg-orange{background: #ff7b00;}

/* ----- MARGINS ----- */
.m30-top{margin-top: 30px;}
.m30-bottom{margin-bottom: 30px;}
.m30-top-bottom{margin:30px 0;}

.m60-top{margin-top: 60px;}
.m60-bottom{margin-bottom: 60px;}
.m60-top-bottom{margin:60px 0;}

.m90-top{margin-top: 90px;}
.m90-bottom{margin-bottom: 90px;}
.m90-top-bottom{margin:90px 0;}

/* ----- PADDINGS ----- */
.p5-left-right{padding: 0 5px}
.p5-left{padding-left: 5px}
.p5-right{padding-right: 5px}

.p15-left-right{padding: 0 15px}
.p15-left{padding-left: 15px}
.p15-right{padding-right: 15px}

.p15-top{padding-top: 15px;}
.p15-bottom{padding-bottom: 15px;}
.p15-top-bottom{padding: 15px 0;}

.p30-top{padding-top: 30px;}
.p30-bottom{padding-bottom: 30px;}
.p30-top-bottom{padding: 30px 0;}

.p60-top{padding-top: 60px;}
.p60-bottom{padding-bottom: 60px;}
.p60-top-bottom{padding: 60px 0;}

/* ==== box-shadow ====*/
.box-shadow-b{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
}

/* ==== grid-container ==== */
.grid-container{display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}


/* ----- transition -----  */
.transicao{transition:all 0.3s ease;}

/* ----- zoom ----- */
.zoom:hover{
    transition:all 0.3s ease;    
    filter: alpha(opacity=50);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   transform: scale(1.05);
}

/* ----- TXT-SHADOW ----- */
.txt-shadow{text-shadow: 1px 1px #1f1f1f;}

/* ----- LIST STYLE ----- */
.list-style-none{list-style: none;}



/* ==== bt - botões */
.bt{
    display: inline-block;
    cursor: pointer;
    background: #333;
    padding: 8px 18px;
    margin-top: 5px;        
    color: #fff;
    text-decoration: none !important;
    text-align: center;
    border: none;       
    text-transform: uppercase;
}
.bt:hover{background: #555; text-decoration: none !important; transition:all 0.3s ease;}

.bt-yellow{background: #ffc000;}
.bt-yellow:hover{background: #ffa800 !important; transition:all 0.3s ease;}

.bt-green{background: #3bac50;}
.bt-green:hover{background: #2d9c42; transition:all 0.3s ease;}

.bt-greenlight{background: #03aea0;}
.bt-greenlight:hover{background: #039387; transition:all 0.3s ease;}

.bt-orange{background: #e77336;}
.bt-orange:hover{background: #ca632d !important; transition:all 0.3s ease;}

.bt-blue{background: #3b6dac;}
.bt-blue:hover{background: #2f5d97; transition:all 0.3s ease;}

.bt-lightgray{background: #ccc;}
.bt-lightgray:hover{background: #ccc; transition:all 0.3s ease;}

.bt-blue-border-bottom{background: #3b6dac; border-bottom: 4px solid #2f5d97;}
.bt-blue-border-bottom:hover{background: #2f5d97; transition:all 0.3s ease;}

/* bt-radius botões ==== */
.bt-radius{
    display: inline-block;
    cursor: pointer;    
    padding: 15px 35px;
    margin-top: 5px;        
    color: #fff;
    text-decoration: none !important;
    text-align: center;
    border: none;        
    text-transform: uppercase;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    font-weight: 700;
    transition:all 0.3s ease;
}
.bt-radius-small{
    display: inline-block;
    cursor: pointer;    
    padding: 8px 15px;
    margin-top: 5px;        
    color: #fff;
    text-decoration: none !important;
    text-align: center;
    border: none;        
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: 700;
    transition:all 0.3s ease;
}

.bt-radius-line-white{border: 1px solid #fff; transition:all 0.3s ease;}
.bt-radius-line-white:hover{background: #fff; color: #3b6dac;}

.bt-radius-line-red{border: 1px solid #d12121; color: #d12121;}
.bt-radius-line-red:hover{background: #d12121;  color: #fff;}

.bt-radius-line-blue{border: 1px solid #3b6dac; color: #3b6dac; transition:all 0.3s ease;}
.bt-radius-line-blue:hover{background: #3b6dac; color: #fff;}

.bt-radius-line-green{border: 1px solid #22b85b; color: #22b85b; transition:all 0.3s ease;}
.bt-radius-line-green:hover{background: #22b85b; color: #fff;}

.bt-radius-blue{background-image: linear-gradient(#152e59, #3669c2); color: #fff; border: 4px #214480 solid; font-size: 1.6em; padding: 15px 30px;}
.bt-radius-blue:hover{background: linear-gradient(#3669c2, #152e59 ); transition:all 0.3s ease; color: #fff;}

.bt-radius-gold{background-image: linear-gradient(#dbaf37, #a07602); color: #fff; border: 4px #6e5200 solid; font-size: 1.4em;}
.bt-radius-gold:hover{border: 4px #6e5200 solid; background-image: linear-gradient(#f1c44a, #b78702); color: #fff; transition:all 0.2s ease;}


/* ==== bt-links-radius */
.bt-links-radius{
    display: inline-block;
    cursor: pointer;    
    padding: 15px 45px;     
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    font-weight: 700;
}

.bt-links-radius-small{
    display: inline-block;
    cursor: pointer;    
    padding: 10px 35px;     
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    font-weight: 700;
    transition: all 0.3s ease;
}
.bt-links-radius-blue{border:1px solid #3b6dac; color: #3b6dac;}
.bt-links-radius-blue:hover{background: #3b6dac; color: #fff;}

.bt-links-radius-lightblue{border:1px solid #09f; color: #09f;}
.bt-links-radius-lightblue:hover{background: #09f; color: #fff;}

.bt-links-radius-white{border:1px solid #fff; color: #fff;}
.bt-links-radius-white:hover{background: #fff; color: #3b6dac; }

.bt-links-radius-green{border:1px solid #039387; color: #039387;}
.bt-links-radius-green:hover{background: #039387; color: #fff; }

.bt-links-radius-orange{border:1px solid #e77336; color: #e77336;}
.bt-links-radius-orange:hover{background: #e77336; color: #fff;}
/* bt-links ==== */

/*bt - voltar ao topo*/
.backtop-radius{
    position:fixed; 
    display: none; 
    cursor: pointer; 
    bottom: 15px; 
    right: 25px; 
    text-transform: uppercase; 
    color: #FFF; 
    font-size: 0.8em; 
    color: #FFF; 
    padding: 10px; 
    background: rgba(3, 111, 174, 0.5);
    z-index: 99;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.backtop-radius:hover{background: #dbaf37; transition: all 0.3s ease;}
.backtop-square{
    position:fixed; 
    display: none;
    border: 1px #3d70c7 solid;
    cursor: pointer; 
    bottom: 15px; 
    right: 10px;     
    color: #3d70c7; 
    font-size: 0.8em; 
    
    padding: 10px;     
    z-index: 99;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.3s ease;
}
.backtop-square:hover{background: #3d70c7; color: #ffffff; }

/* ================*/
/* ==== ICONS ==== */
/* ================*/
.icons-fontawesome{vertical-align: baseline; font-size:0.95em; color: #ffcc00; margin-right: 8px;}

/*bt-icons-small*/
.bt-icons-small{
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px; 
    text-decoration: none !important;
    text-align: center;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    margin: 0 5px;  
    color: #fff;
}

.bt-icons-small-facebook{background: #3b5998;}
.bt-icons-small-facebook:hover{background: #5179c9; transition:all 0.3s ease;}
.bt-icons-small-googleplus{background: #db4437;}
.bt-icons-small-googleplus:hover{background: #fd8277; transition:all 0.3s ease;}
.bt-icons-small-twitter{background: #1da1f2;}
.bt-icons-small-twitter:hover{background: #72c8fd; transition:all 0.3s ease;}
.bt-icons-small-instagram{background: #bc2a8d;}
.bt-icons-small-instagram:hover{background: #e73db1; transition:all 0.3s ease;}

/*bt-icons-line*/
.bt-icons-line{cursor: pointer; font-size: 1.8em;}
.bt-icons-line-facebook{color: #3b5998;}
.bt-icons-line-facebook:hover{color: #5179c9; transition:all 0.3s ease;}
.bt-icons-line-instagram{color: #bc2a8d;}
.bt-icons-line-instagram:hover{color: #e73db1; transition:all 0.3s ease;}
.bt-icons-line-twitter{color: #1da1f2;}
.bt-icons-line-twitter:hover{color: #72c8fd; transition:all 0.3s ease;}

/*bt-icons-white*/
.bt-icons-white{cursor: pointer; font-size: 1.8em;}
.bt-icons-white-facebook{color: #fff;}
.bt-icons-white-facebook:hover{color: #5179c9; transition:all 0.3s ease;}
.bt-icons-white-instagram{color: #fff;}
.bt-icons-white-instagram:hover{color: #e73db1; transition:all 0.3s ease;}
.bt-icons-white-twitter{color: #fff;}
.bt-icons-white-twitter:hover{color: #72c8fd; transition:all 0.3s ease;}

/*bt-icons-dark*/
.bt-icons-dark{cursor: pointer; font-size: 1.5em;}
.bt-icons-dark-facebook{color: #999;}
.bt-icons-dark-facebook:hover{color: #5179c9; transition:all 0.3s ease;}
.bt-icons-dark-instagram{color: #999;}
.bt-icons-dark-instagram:hover{color: #e73db1; transition:all 0.3s ease;}
.bt-icons-dark-twitter{color: #999;}
.bt-icons-dark-twitter:hover{color: #72c8fd; transition:all 0.3s ease;}

/*bt-icons-line-big*/
.bt-icons-line-big{cursor: pointer; font-size: 2em; margin: 0 5px;}
.bt-icons-line-big-facebook{color: #3b5998;}
.bt-icons-line-big-facebook:hover{color: #5179c9; transition:all 0.3s ease;}
.bt-icons-line-big-instagram{color: #bc2a8d;}
.bt-icons-line-big-instagram:hover{color: #e73db1; transition:all 0.3s ease;}
.bt-icons-line-big-twitter{color: #1da1f2;}
.bt-icons-line-big-twitter:hover{color: #72c8fd; transition:all 0.3s ease;}

.bt-icons-line-big-facebook-dark{color: rgba(0, 0, 0, 0.4);}
.bt-icons-line-big-facebook-dark:hover{color: #5179c9; transition:all 0.3s ease;}
.bt-icons-line-big-instagram-dark{color: rgba(0, 0, 0, 0.4);}
.bt-icons-line-big-instagram-dark:hover{color: #e73db1; transition:all 0.3s ease;}
.bt-icons-line-big-twitter-dark{color: rgba(0, 0, 0, 0.4);}
.bt-icons-line-big-twitter-dark:hover{color: #72c8fd; transition:all 0.3s ease;}

/* ==== colors icons ==== */
.icon-lightgray{color: #ccc;}
.icon-lightgreen{color: #26fba9 !important;}



/* ================= */
/* ==== EFEITOS ==== */
/* ================= */

/* efeitos-animation */
@keyframes levitate{
    0%, 20%, 60%, 100%{-webkit-transform: translateY(0); transform: translateY(0);}
    40%{-webkit-transform: translateY(-10px); transform: translateY(-10px);}
    80%{-webkit-transform: translateY(-5px); transform: translateY(-5px);}
}
.effect-levitate:hover{animation: levitate 1s !important;}

/* effect-grow */
.effect-grow{transition: all 0.3s ease;}
.effect-grow:hover, effect-grow:focus, .effect-grow:active{-webkit-transform: scale(1.05); -moz-transform: scale(1.05); transform: scale(1.05);}

/* ================== */
/* ==== BT CHATS ==== */
/* ================== */
.bt-chats-whatsapp{
    position:fixed; 
    background: #34af23;
    cursor: pointer; 
    padding: 10px 17px;     
    z-index: 990;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    bottom: 90px; 
    right: 10px; 
    
    color: #fff;
    font-size: 1.8em;
    transition: all 0.5s ease;
}
.bt-chats-whatsapp:hover{background: #2e9e1f; }


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* ----- BOXs ----- */
    .box25, .box30, .box35, .box40, .box45, .box50, .box55, .box60, .box65, .box70{width: 100%;}
 }

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }