/* ================ */
/* ==== HEADER ==== */
/* ================ */
.logo{font-size: 5em; color: #2681FB; margin: 30px 0;}
header h1{font-size: 2em; color: #333; text-transform: uppercase; font-weight: 700; padding: 15px; display: block; background: #f5f5f5; border-bottom: 2px #e7e7e7 solid;}

/* ========================== */
/* ==== AREA DE PRODUTOS ==== */
/* ========================== */
.produtos-conteudos{list-style: none; margin: 0; padding: 0;}
.produtos-conteudos:after{content: ""; clear: both;}
.produto-selecao{width: 23%;  margin: 10px 1%; float: left;}

.produto-selecao input[type="checkbox"]{display: none;}

.produto-selecao label{    
    cursor: pointer;
    display: inline-block;    
    padding: 30px 0;
    border-bottom: 4px #e7e7e7 solid;
    transition: all 0.1s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    
}
.icons-prod{font-size: 6em; color: #d8d8d8; margin-bottom: 30px;}
.label-txt{font-size: 1.1em; color: #555; font-weight: 300;}
.label-txt strong{font-size: 1.4em; color: #333; font-weight: 700;}
.label-valor{font-size: 0.9em; color:#2681FB; font-weight: 700; margin-top: 15px;}
/* .produto-selecao input:focus + label{border-bottom: 4px solid #2681FB;}
.produto-selecao input:checked + label{border-bottom: 4px solid #2681FB;} */
.produto-selecao input:hover + label {border-bottom: 4px #2681FB solid;}
.produto-selecao input:focus + label {border: 2px #2681FB solid;}
.produto-selecao input:checked + label{border: 2px #2681FB solid;}

/* ======================= */
/* ==== AREA DE TOTAL ==== */
/* ======================= */
.main_total .total_cursos{font-size: 1.4em; color:#333; font-weight: 700;}
.main_total .total_cursos strong{color:#555; font-weight: 300;}

/* ========================== */
/* ==== AREA DE CHECKOUT ==== */
/* ========================== */

.main_finalizar_compra ul{list-style: none; }
.main_finalizar_compra ul li{border: 1px #ccc dotted; padding: 15px; display: flex; flex-wrap: wrap;  align-items: center;}
.main_finalizar_compra ul li .bt-radius-small{font-size: 0.8em; text-transform: none;}
.icons-prod-shopping-cart{font-size: 3em; color: #2681FB;}
.title_shopping_cart{font-size: 1.1em; color: #555; text-align: left; font-weight: 700;}

.total_checkout{font-size: 1.4em; color:#333; text-align: right; font-weight: 700;}

/* main_checkout_forma_pagamento */
.main_checkout_forma_pagamento h2{ font-size: 1.6em; color: #333; font-weight: 700; text-transform: uppercase;}

/* FORM CHECKOUT */
.checkout_form{max-width: 600px; width: 100%; margin: 0 auto;}
.checkout_form p{font-size: 0.9em; color: #2681FB; text-transform: uppercase; font-weight: 700; margin-bottom: 5px;}
.icons_checkout_form{font-size: 2em; color: #ccc;}
.label_checkout{font-size: 0.9em; color: #555; text-align: left; font-weight: 700; width: 100%; float: left;}
.label_checkout_forma_pagamento{font-size: 0.9em; color: #555; text-align: left; margin-right: 20px;}
.input_checkout{
    width: 100%; 
    height: 50px; 
    border: none; 
    border-left: 4px solid #0b59be; 
    background: #f5f5f5;
    text-align: left;
    padding-left: 15px;

    color: #555;
    font-weight: 300;
}
.bt_checkout{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: none;
    background: #3b6dac;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bt_checkout:hover{background: #4c8ddd;}

@media (max-width: 992px) { 
    /* ========================== */
    /* ==== AREA DE PRODUTOS ==== */
    /* ========================== */
    .produto-selecao{width: 48%;}


    /* =============================== */
    /* ==== AREA DE SHOPPING CART ==== */
    /* =============================== */        
    .main_finalizar_compra ul li .box25{padding: 15px 0;}
    .title_shopping_cart{text-align: center;}

 }


@media (max-width: 575.98px) { 
     /* ========================== */
    /* ==== AREA DE PRODUTOS ==== */
    /* ========================== */
    .produto-selecao{width: 98%;}
 }